body{
	font-family: Segoe UI, "Helvetica Neue";
	font-size: 14px;
	color: #666;
}
header{
	background-color: rgba(29,14,0,0.7) !important;
}
footer{
	background-color: #432A1C;
	padding: 25px 0;
	border-top: 4px solid #432a1c;
	color: #fff;
	text-align: center;
}
footer img {
    margin-bottom: 25px;
    margin-top: 10px;
}